body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #555555;
    margin: 0px 0px;
    padding: 0px;
    min-width: 320px;
}

html,
body {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*
p,
ul,
.ui.grid,
li {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size-adjust: none;
}*/


ul.list {
    list-style-type: disc;
}
ul.list li {
    list-style-position: outside;
}


/* text and headers */
h1 {
    margin: 0px 0px 20px;
    padding: 50px 0px 5px;
}
h4 + p {
    margin: 0px 0px 20px;
}
pre {
    background-color: #F0F0F0;
}
code {
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
    display: inline-block;
    font-family: Courier New;
    font-size: 14px;
    padding: 0.125em 0.25em;
    vertical-align: middle;
}
pre code {
    border: none;
    padding: 0px;
}
table pre,
table code {
    margin: 0px !important;
    padding: 0px;
    background-color: transparent;
}
p {
    margin: 1em 0em;
}
p:first-child {
    margin-top: 0em;
}
p:last-child {
    margin-bottom: 0em;
}
/* links */
a {
    color: #009FDA;
    text-decoration: none;
}
a:hover {
    color: #00BAFF;
}





footer {
    padding-top:70px;
}

a {
    color: #009FDA;
    text-decoration: none;
}

.inverted a {
    color: white;
    text-decoration: underline;
}

.content {
    padding-top:70px;
    margin-bottom: 70px;
}

.main.menu {
    min-height:43px;
}

.container {
    margin: 0px auto;
}


@media only screen and (max-width : 780px) {
    .container {
        width: 750px;
    }
}

@media only screen and (min-width : 1050px) {
    .container {
        width:1024px;
    }
}

@media only screen and (min-width : 1725px) {
    .container {
        width: 1100px;
    }
}

@media only screen and (min-width : 2300px) {
    .container {
        width: 1320px;
    }
}










