<form id="cred_form" action="{{ url }}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="ui form segment">
        {{ form.as_p }}
        <input type="submit" class="ui positive right labeled icon button">
        </input>
    </div>
</form>


<script>

    var frm = jQuery('#cred_form');
    frm.submit(function () {
        jQuery.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                var modal = jQuery('#credentials_modal');
                modal.modal('hide all');
            },
            error: function(data) {
                jQuery("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
        return false;
    });

</script>