{% extends 'layout.html' %}


{% block title %}Login{% endblock %}

{% block account %}
<form class="navbar-form navbar-right pull-right" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" placeholder="Username" name="username" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" name="password" class="form-control">
    </div>
    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
    <button type="submit" class="btn btn-success">Sign in</button>
</form>
{% if form.errors %}
    <div class="alert alert-danger pull-right">
        <p>Your username and password didn't match. Please try again.</p>
    </div>
{% endif %}
{% endblock %}

{% block navigation %}
    {# blank out navigation #}
{% endblock %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Elasticluster</h1>
            <p>aims to provide a user-friendly tool to create, manage and setup computing clusters hosted on
                cloud infrastructures like <a href="http://aws.amazon.com/ec2/" target="_blank">Amazon's Elastic Compute
                    Cloud EC2</a>,
                <a href="https://cloud.google.com/products/compute-engine"
                   target="_blank">Google Compute Engine</a> or a private <a href="http://www.openstack.org/" target="_blank">OpenStack</a> cloud).
                Its main goal is to get your compute cluster up and running with just a few clicks.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>How it works</h2>
                <p>The architecture of elasticluster is quite simple: a configuration file defines a set of cluster
                    configurations and information on how to access a specific cloud webservice.</p>

                <p>Using the command line (or, very soon, a simple API), you can start a cluster. Elasticluster will connect
                    to the desired cloud, start the virtual machines and wait until they are accessible via ssh.</p>

                <p>After all the virtual machines are up and running, elasticluster will use ansible to configure them.</p>
            </div>
            <div class="col-lg-6">
                <h2>Features</h2>
                <p>elasticluster offers the following features at the current state:
                <ul>
                    <li>Simple configuration file to define cluster templates</li>
                    <li>Can start and manage multiple independent clusters at the same time</li>
                    <li>
                        Automated setup
                        <ul>
                            <li>use <a href="http://www.debian.org/" target="_blank">Debian GNU/Linux</a>, <a
                                    href="http://www.ubuntu.com/" target="_blank">Ubuntu</a>, or <a
                                    href="http://www.centos.org/" target="_blank">CentOS</a> as a base operating system
                            </li>
                            <li>choose <a href="https://computing.llnl.gov/linux/slurm/" target="_blank">SLURM</a>, <a
                                    href="http://www.gridengine.info/" target="_blank">Grid Engine</a> or <a
                                    href="http://www.adaptivecomputing.com/products/open-source/torque/" target="_blank">TORQUE+MAUI</a>
                                as a batch-queueing system
                            </li>
                            <li>setup your <a href="http://hadoop.apache.org/" target="_blank">hadoop</a> cluster to start
                                your favorite map/reduce job
                            </li>
                            <li>or create your
                                <a href="http://ipython.org/ipython-doc/dev/parallel/"
                                   target="_blank">IPython cluster</a> to run your
                                python code in parallel over multiple virtual
                                machines.
                            </li>
                            <li>add useful tools like <a href="http://ganglia.info/" target="_blank">Ganglia</a> for
                                monitoring...
                            </li>
                            <li>configure a distributed storage like
                                <a href="http://www.gluster.org/"
                                   target="_blank">GlusterFS</a> or
                                <a href="http://ceph.com/"
                                   target="_blank">Ceph</a>, or a parallel filesystem
                                like <a href="http://orangefs.org/"
                                        target="_blank">OrangeFS</a> (formerly known as PVFS2)
                            <li>...or anything that you can install with an <a href="http://www.ansibleworks.com/">Ansible</a>
                                playbook!
                            </li>
                        </ul>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}